<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gate</title>
</head>
<body>
    <h1>GATE 3</h1>
    <form action="/OutGoing" method="POST">
        {% csrf_token %}
        <h1>Name  = AP21110010890</h1>
        {% comment %} <h1>Roll = {{ student.roll }}</h1>
        <h1>validation = {{ student.validation }}</h1>
        <h1>Outtime = {{ student.OutTime }}</h1> {% endcomment %}
        <button type="submit">Go</button>
    </form>
</body>
</html>
